<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>Board Games meet-up</title>
    <link rel="stylesheet" href="./style/404Page.css">
    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
        integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="icon"><i class="far fa-frown-open"></i></div>
        <div class="bigTitle">We couldn't find this page</div>
        <a href='/' class="smallTitle"><i class="fas fa-chevron-left"></i> Back to website</a>
    </div>
</body>

</html>