.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    align-self: stretch;
    min-width: 200px;
    cursor: pointer;
    max-width: 600px;
    margin: 30px auto 0;
    position: relative;
}

.closeModal {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 30px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 30px;
}

.inputRow {
    width: 100%;
}

.doubleInputRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputLabel {
    margin-bottom: 10px;
}

.input {
    resize: none;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #f6f6f6;
    width: calc(100% - 20px);
}

.doubleInputElement {
    width: 100%;
}

.addButton {
    width: 100px;
    text-align: center;
    background-color: #393E46;
    padding: 10px;
    color: white;
    border-radius: 6px;
    margin: 50px auto 20px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #01a1a9;
}