.title {
    font-size: 18px;
    font-weight: bold;
}

.gameContainer, .gameModalContainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    align-self: stretch;
    min-width: 200px;
    cursor: pointer;
}

.gameModalContainer {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: auto;
    padding-bottom: 70px;
}

.closeModal {
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: end;
}

.gameModalContainer .gamePlayers{
    justify-content: center;
}

.gameTitle {
    font-weight: bold;
}

.gameRules {
    flex: 1;
    max-height: 150px;
    overflow: hidden;
}

.gamePlayers{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.gamesContainer {
    justify-content: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 30px;
}