<section class="cere-oferta">
    <div class="cere-oferta-container">
        <div class="oferta-form">
            <form>
                <h2 class="title">Featured games</h2>
                <div class="label" style="width: 90%; background-color: #f2f6fb; padding: 10px 20px; border-radius: 5px; display: flex; align-items: center; gap: 30px;">
                    <div style="width: 70px; height:70px; background-image: url('./images/exploding.png'); background-position: center; background-size: cover; border-radius: 6px"></div>
                    <div class="label-text">Exploding Kittens</div>
                </div>
                <br>
                <div class="label" style="width: 90%; background-color: #f2f6fb; padding: 10px 20px; border-radius: 5px; display: flex; align-items: center; gap: 30px;">
                    <div style="width: 70px; height:70px; background-image: url('./images/activity.png'); background-position: center; background-size: cover; border-radius: 6px"></div>
                    <div class="label-text">Activity</div>
                </div>
                <br>
                <div class="label" style="width: 90%; background-color: #f2f6fb; padding: 10px 20px; border-radius: 5px; display: flex; align-items: center; gap: 30px;">
                    <div style="width: 70px; height:70px; background-image: url('./images/catan.png'); background-position: center; background-size: cover; border-radius: 6px"></div>
                    <div class="label-text">Catan</div>
                </div>
                <br>
                <div class="label" style="width: 90%; background-color: #f2f6fb; padding: 10px 20px; border-radius: 5px; display: flex; align-items: center; gap: 30px;">
                    <div style="width: 70px; height:70px; background-image: url('./images/monopoly.png'); background-position: center; background-size: cover; border-radius: 6px"></div>
                    <div class="label-text">Monopoly</div>
                </div>
                <br>
                <div class="label" style="width: 90%; background-color: #f2f6fb; padding: 10px 20px; border-radius: 5px; display: flex; align-items: center; gap: 30px;">
                    <div style="width: 70px; height:70px; background-image: url('./images/board-games.png'); background-position: center; background-size: cover; border-radius: 6px"></div>
                    <div class="label-text">And many others</div>
                </div>
            </form>
        </div>
        <div class="image"><img src="./images/featured-games.jpg" alt="Detectivi particulari Valcea - cere oferta"  title="Detectivi particulari Valcea"></div>
    </div>
</section>