<section class="contact">
    <div class="whyus-container" style="display: flex; flex-direction: column; gap: 20px;">
        <h2 class="title" style="font-size:40px; font-family: poppins_bold">Meet the team</h2>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 10px">
            <div style="width: 100%; max-width: 200px; height:auto; padding: 10px; border-radius:10px; background-color: white; margin: 0 auto;">
                <div style="width: 100%; height: 200px; background-image: url('./images/sebastian.jpeg'); background-position: center; background-size: cover; border-radius: 10px"></div>
                <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
                    <h2 class="title" style="font-size: 20px; font-family: poppins_bold">Sebastian D.</h2>
                </div>
            </div>
            <div style="width: 100%; max-width: 200px; height:auto; padding: 10px; border-radius:10px; background-color: white; margin: 0 auto;">
                <div style="width: 100%; height: 200px; background-image: url('./images/alexandru.png'); background-position: center; background-size: cover; border-radius: 10px"></div>
                <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
                    <h2 class="title" style="font-size: 20px; font-family: poppins_bold">Alexandru B.</h2>
                </div>
            </div>
            <div style="width: 100%; max-width: 200px; height:auto; padding: 10px; border-radius:10px; background-color: white; margin: 0 auto;">
                <div style="width: 100%; height: 200px; background-image: url('./images/andreea.png'); background-position: center; background-size: cover; border-radius: 10px"></div>
                <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
                    <h2 class="title" style="font-size: 20px; font-family: poppins_bold">Andreea G.</h2>
                </div>
            </div>
            <div style="width: 100%; max-width: 200px; height:auto; padding: 10px; border-radius:10px; background-color: white; margin: 0 auto;">
                <div style="width: 100%; height: 200px; background-image: url('./images/profile.jpg'); background-position: center; background-size: cover; border-radius: 10px"></div>
                <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
                    <h2 class="title" style="font-size: 20px; font-family: poppins_bold">Robert P.</h2>
                </div>
            </div>
        </div>
    </div>
</section>