<section class="faq">
    <div class="faq-container">
        <% questions.forEach(function(question){ %>
            <%- include('question', {question: question}); %>
        <% }); %>
    </div>
</section>