<div class="motto">
    <div class="motto-container">
        <div class="left">
            <img src="./images/test.svg" alt="Detectivi particulari Valcea - Motto" title="Detectivi particulari Valcea">
        </div>
        <div class="right">
            <div class="quote-icon"><i class="fas fa-quote-left"></i></div>
            <div class="quote-text">It’s not just about playing games. It’s about finding your people, building traditions, and creating nights you’ll talk about long after the last piece is packed away.</div>
        </div>
    </div>
</div>