<div class="faq-items-container">
    <div class="faq-item">
        <div class="question"><%=question.title%></div>
        <div class="arrow"><i class="fas fa-chevron-down"></i></div>
        <div class="answer">
            <div class="answer-text"><%-question.answer%></div>
        </div>
    </div>
</div>