<div class="card">
    <div class="card-icon"><i class='<%=card.icon%>'></i></div>
    <div class="card-text">
        <div class="flex-container">
            <div class="flex-item-1">
                <div class="title">
                    <%=card.title%>
                </div>
                <div class="descpription">
                    <%=card.description%>
                </div>
            </div>
        </div>
    </div>
</div>