<li class="splide__slide">
    <div class="card mobile-card" style="height:100%;">
        <div class="card-icon"><i class='<%=card.icon%>'></i></div>
        <div class="card-text">
            <div class="flex-container">
                <div class="flex-item-1">
                    <div class="title">
                        <%=card.title%>
                    </div>
                    <div class="descpription">
                        <%=card.description%>
                    </div>
                </div>
                <div class="flex-item-2">
                    <a class="cere_oferta" data-scrollto="cere-oferta">Cere ofertă <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</li>