<header class="topbar">
    <div class="topbar-container">
        <a class="topbar-left">
            <div class="logo-text"><span style="color: #3c71db">B</span>oard<span style="color: #3c71db">G</span>ames</div>
        </a>
        <ul class="topbar-right">
            <li><a data-scrollto="whyus">How it works</a></li>
            <li><a data-scrollto="faq">FAQ</a></li>
            <li><a data-scrollto="contact">Games</a></li>
            <li class="topbar-cere-oferta-button">Join Now</li>
        </ul>
        <a class="hamburger"><i class="fas fa-bars"></i></a>
    </div>
    <div class="menu-mobile">
        <div class="menu-mobile-container">
            <ul class="topbar-right-mobile">
                <li>Join Now</li>
                <li data-scrollto="whyus">How it works</li>
                <li data-scrollto="faq">FAQ</li>
                <li data-scrollto="faq">Games</li>
            </ul>
        </div>
    </div>
</header>