<section class="whyus">
    <div class="whyus-container">
        <div class="left">
            <div class="title">How it works</div>
            <div class="description">Board Games Meet-up makes it easy to bring people together around games. You can quickly create events, add key details like time, location, and game type, then share them with friends or make them public for the community to join.<br><br> Participants register and vote for the games they want to play or suggest new ones. Once enough players are in, the platform helps select the final games so everyone knows what to expect — no more last-minute decisions or confusion. <br><br> At the event, attendees check in to confirm participation. Afterward, they can give out badges, vote for the MVP, and report any issues. As players join more events, their profiles grow with stats, badges, and reputation in the community.</div>
        </div>
        <div class="right">
            <div class="labels-container">
                <div class="label">
                    <div class="label-text">
                        <i class="fa fa-user" style="margin-right: 20px;color:#3c71db;opacity:0.8;"></i>Create account
                    </div>
                </div>
                <div class="label">
                    <div class="label-text">
                        <i class="fa fa-calendar" style="margin-right: 20px;color:#3c71db;opacity:0.8;"></i>Host or join events
                    </div>
                </div>
                <div class="label">
                    <div class="label-text">
                        <i class="fas fa-dice" style="margin-right: 20px;color:#3c71db;opacity:0.8;"></i>Vote and suggest games
                    </div>
                </div>
                <div class="label">
                    <div class="label-text">
                        <i class="fa fa-star" style="margin-right: 20px;color:#3c71db;opacity:0.8;"></i>Enjoy and win badges
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>